.nav_item {
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    padding: 9px;
    line-height: 24px;
    font-family: Montserrat, sans-serif;
    margin: 5px;
}

.nav_item_last {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    line-height: 24px;
    font-family: Montserrat, sans-serif;
    color: #201D1E;
    align-items: center;
    padding: 9px 28px;
    width: 90px;
    height: 20px;
    margin: 20px;
    background: #FFFFFF;
}