.HomePage {
    position: relative;
    width: 100%;
}

.nav {
    position: absolute;
    top: 0px;
    width: 100%;
    right: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.Middle_Text_Container {
    width: 45%;
    position: absolute;
    top: 25%;
    left: 7%;
    text-align: left;
    font-family: Montserrat, sans-serif;
}

.title {
    /* Text/H1 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    text-align: left;
    /* Text / White */
    color: #FFFFFF;
    font-size: 48px;
}

.title_with_span {
    color: #65ddf4;
}

.subtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}