.HomePage{
    position: relative;
    width: 100%; /* for IE 6 */
}

.nav{
    position: absolute;

    top: 0px;


    width: 100%;
    right: 10px;
    /*display: flex;*/
    /*flex-direction: row;*/
    align-items: center;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
}

.top_navigation_container{

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}